main{
	padding: 100px;
}

.big-container{
	width: 800px;
	height: 500px;
	border: 1px black solid;
	display: flex;
	flex-flow: row wrap;
}

.topbox{
	
	width: 50%;
	height: 200px;
}
.box1{
	background-color: green;
}
.box2{
	background-color: blue;
}

.bbox{
	width: 33.33%;
	height: 300px;
	
}
.box3{
	background-color: grey;
}
.box4{
	background-color: black;
}
.box5{
	background-color: orange;
}

